/*body of the page*/

body {
  background-color: #bcd5ed;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

h1, h2, h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

h1 {
  color: #7eaad4;
}

h4 {
  text-align: left;
}

img {

}

a {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
a:hover {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

p {
  text-align: justify;
}
.container {
  width: 500px;
  margin: 30px auto;
}

.card {
  background-color: #f6f4f3;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
  width: 500px;
}

.img-circle {
  border-radius: 50%;
  width: auto;
  height: 150px;
}

.text-center {
  text-align: center;
}

.list-inline {
  padding-left: 0;
}
.list-inline li {
  display: inline-block;
  padding: 20px;
}
.list-inline li i{
  font-size: 25px;
}

#menu {
  float: right;
  margin-top: 30px;
  margin-right: 20px;
  text-align: right;
  width: 150px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

#menu .title {
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu li {
}

#menu li a {
  display: inline-block;
  color: #0864c7;
}

#movies{
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
}

#movies img {
  border-radius: 4px;
  width: 120px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
}

#movies td{
  padding: 10px;
}

#img-profile {
  width: 100px;
  height: 100px;
  border: 3px solid;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
